.topMenu{
    position: fixed;
    top: 15px;
    right: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24);
}

.topButton{
    width: 30px;
    height:  30px;
    color: brown;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24);
}
