
.treeDrawer{
    height: calc(100% - 50px);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24);
}
.drawerWrapper{
    position: fixed;
    height: calc(100% - 50px);
    left: 280px;
    top:0;
    text-align:center;
}
.ahpDrawer{
    position: absolute;
}
.buttonunchekd{
    color: black;
}
.buttonchecked{
    color: cadetblue;
}
.icon{
    font-size: 30px;
    color: antiquewhite;
}
.openTreeDrawerButton{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    background-color: #182f5e;
    border: #182f5e;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24);
}
.startButton{
    size: auto;
}